rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /songs/{songId} {
      allow read, write: if true;

      match /chunks/{chunkId} {
        allow read, write: if true;
      }
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
